---
import Layout from "../layouts/Main.astro";

// Hero
import heroGridBg from "../assets/hero_grid_bg.png";
import heroBg from "../assets/hero_bg.png";

// Icons
import ComputerIcon from "~icons/dice/computer";
import PeopleIcon from "~icons/dice/people";
import ConnectIcon from "~icons/dice/connect";
import BoxIcon from "~icons/dice/box";
import TrendIcon from "~icons/dice/trend";

// Mission Images
import missionGridBg from "../assets/mission_grid_bg.png";
import missionImageRight from "../assets/mission_1.png";
import missionImageRightLg from "../assets/mission_1_lg.png";
import missionImageLeft from "../assets/mission_2.png";
import missionImageLeftLg from "../assets/mission_2_lg.png";

// Engagement Data
import partners from "../data/partners";
import engagements from "../data/engagements";

// Community Data
import communities from "../data/communities";

// FAQs
import questions from "../data/faqs";
import FaqsAccordion from "../components/FaqsAccordion";

// Contact Us
import contactBg from "../assets/contact_bg.png";
import ContactTriangle from "../components/ContactTriangle";


import EngagementsCarousel from "../components/EngagementsCarousel";
import CommunitiesCarousel from "../components/CommunitiesCarousel";
---

<Layout title="Home">
    {/* Hero */}
    <section
        style={{ backgroundImage: `url(${heroBg.src})` }}
        class="pt-[calc(1.25rem+77px)] md:pt-[calc(1.25rem+88px)] bg-cover bg-no-repeat bg-center text-white relative"
    >
        <div
            class="relative z-[2] max-w-5xl mx-auto px-10 py-20 md:py-44 flex flex-col items-center space-y-20"
        >
            <div class="space-y-8 md:space-y-12 flex flex-col items-center">
                <div class="flex space-x-3 md:space-x-6 items-center">
                    <div class="p-3 bg-red-light-500 rounded-full">
                        <ComputerIcon className="h-8 w-8 md:h-12 md:w-12" />
                    </div>

                    <div class="p-3 bg-yellow-500 rounded-full">
                        <PeopleIcon className="h-8 w-8 md:h-12 md:w-12" />
                    </div>

                    <div class="p-3 bg-green-light-500 rounded-full">
                        <ConnectIcon className="h-8 w-8 md:h-12 md:w-12" />
                    </div>

                    <div class="p-3 bg-blue-light-500 rounded-full">
                        <BoxIcon className="h-8 w-8 md:h-12 md:w-12" />
                    </div>

                    <div class="p-3 bg-pink-light-500 rounded-full">
                        <TrendIcon className="h-8 w-8 md:h-12 md:w-12" />
                    </div>
                </div>

                <div class="space-y-6 text-center">
                    <h1 class="text-5xl md:text-7xl font-black text-center">
                        Davao's Pioneering Student Tech Collective
                    </h1>
                    <p class="w-[90%] mx-auto md:text-2xl font-normal">
                        DICE is a pioneering initiative in Davao City aimed at
                        revolutionizing computer education and development. We
                        are dedicated to building a collaborative network that
                        empowers student organizations and propels the
                        technology landscape forward.
                    </p>
                </div>
            </div>

            <a href="#" class="button md:text-2xl py-4 px-16 rounded-base"
                >Get Started</a
            >
        </div>

        <div
            style={{ backgroundImage: `url(${heroGridBg.src})` }}
            class="z-[1] h-[330px] md:h-[660px] absolute bottom-0 inset-x-0 bg-[center_bottom] bg-no-repeat"
        >
        </div>
        <div class="z-0 h-full w-full bg-[#161616]/80 absolute inset-0">
        </div>
    </section>

    {/* Our Mission */}
    <section class="section relative p-0 overflow-clip">
        <div class="z-[1] content-wrapper">
            <div class="section-header pt-10 md:pt-28 !pb-16">
                <h2>Our Mission</h2>
            </div>

            <div class="z-[1] flex flex-col px-8 md:px-0 pb-28">
                <div
                    class="flex flex-col-reverse text-center md:text-left md:flex-row items-center md:items-start md:pb-10"
                >
                    <div
                        class="md:w-2/3 lg:w-[62%] z-[1] md:z-0 space-y-4 lg:space-y-8"
                    >
                        <h3
                            class="bg-red-light-500 text-white p-1 md:p-2 lg:p-4 text-2xl md:text-3xl lg:text-5xl font-extrabold"
                        >
                            We believe in the power of collective action.
                        </h3>
                        <p class="font-medium lg:text-2xl">
                            We provide a platform for student organizations to
                            come together, exchange ideas, and share resources.
                            Through our support and guidance, we enable our
                            members to unleash their full potential and make a
                            lasting impact in their respective fields.
                        </p>
                    </div>

                    <div
                        class="relative w-1/2 md:w-1/3 lg:w-[40%] -mb-2 md:mb-0 md:pl-4 lg:pl-8"
                    >
                        <img
                            src={missionImageRight.src}
                            alt="Mission Right"
                            class="md:hidden"
                        />
                        <img
                            src={missionImageRightLg.src}
                            alt="Mission Right"
                            class="hidden md:block absolute -bottom-[60%] translate-y-[70%] scale-[1.1] -right-[3rem] -z-[1] h-auto object-bottom"
                        />
                    </div>
                </div>

                <div
                    class="flex flex-col-reverse md:flex-row-reverse text-center md:text-left items-center pt-10"
                >
                    <div
                        class="md:w-2/3 lg:w-[62%] z-[1] md:z-0 space-y-4 lg:space-y-8"
                    >
                        <h3
                            class="bg-pink-light-500 text-white p-1 md:p-2 lg:p-4 text-2xl md:text-3xl lg:text-5xl font-extrabold"
                        >
                            Our purpose is to empower student communities
                            through collaboration.
                        </h3>
                        <p class="font-medium lg:text-2xl">
                            We understand the challenges faced by student
                            organizations and the need for a strong support
                            system that fosters growth and innovation. That's
                            why we have created a dynamic community that brings
                            together like-minded individuals from various
                            schools, backgrounds, and interests.
                        </p>
                    </div>

                    <div
                        class="relative w-1/2 md:w-1/3 lg:w-[40%] -mb-2 md:mb-0 md:pr-4 lg:pr-8"
                    >
                        <img
                            src={missionImageLeft.src}
                            alt="Mission Left"
                            class="md:hidden"
                        />
                        <img
                            src={missionImageLeftLg.src}
                            alt="Mission Left"
                            class="hidden md:block absolute -bottom-[50%] translate-y-[50%] scale-[1.1] -left-[3rem] -z-[1] h-auto object-bottom"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div
            style={{ backgroundImage: `url(${missionGridBg})` }}
            class="-z-[2] h-[677px] absolute top-0 inset-x-0 bg-[center_top] bg-no-repeat"
        >
        </div>
    </section>

    {/* Our Vision */}
    <section class="section bg-[#F9F9F9] py-10 md:py-36">
        <div class="content-wrapper">
            <div class="section-header">
                <h2>Our Vision</h2>
            </div>

            <div class="flex flex-col lg:flex-row px-8 lg:px-0">
                <div
                    class="lg:w-1/3 space-y-3 flex flex-col items-center lg:items-start text-center lg:text-left pb-8 lg:pb-0 lg:pr-3"
                >
                    <div
                        class="inline-block p-4 bg-blue-light-500 rounded-full mb-2"
                    >
                        <BoxIcon className="h-12 w-12" />
                    </div>
                    <h2
                        class="text-blue-light-500 text-3xl lg:text-4xl uppercase font-bold"
                    >
                        Create
                    </h2>
                    <p class="text-xl lg:text-2xl">
                        Create a <b
                            >collaborative of student-run tech organizations</b
                        > that empower the youth of Davao City to pursue their passions
                        in technology.
                    </p>
                </div>
                <div
                    class="lg:w-1/3 space-y-3 flex flex-col items-center lg:items-start text-center lg:text-left py-8 lg:py-0 lg:px-3 border-y lg:border-y-0 lg:border-x"
                >
                    <div
                        class="inline-block p-4 bg-green-light-500 rounded-full mb-2"
                    >
                        <ConnectIcon className="h-12 w-12" />
                    </div>
                    <h2
                        class="text-green-light-500 text-4xl uppercase font-bold"
                    >
                        Collaborate
                    </h2>
                    <p class="text-xl lg:text-2xl">
                        We envision a future where <b
                            >our member organizations collaborate seamlessly,</b
                        > sharing resources and best practices to enhance their reach
                        and impact.
                    </p>
                </div>
                <div
                    class="lg:w-1/3 space-y-3 flex flex-col items-center lg:items-start text-center lg:text-left pt-8 lg:pt-0 lg:pl-3"
                >
                    <div
                        class="inline-block p-4 bg-yellow-500 rounded-full mb-2"
                    >
                        <PeopleIcon className="h-12 w-12" />
                    </div>
                    <h2
                        class="text-yellow-500 text-4xl uppercase font-bold"
                    >
                        Lead
                    </h2>
                    <p class="text-xl lg:text-2xl">
                        We envision ourselves as a collective leading force in
                        the promotion of computer education and <b
                            >enabling our members to make an impact on our
                            communities.</b>
                    </p>
                </div>
            </div>
        </div>
    </section>

    {/* Engagements */}
    <section class="section relative">
        <div
            style={{ backgroundImage: `url(${missionGridBg})` }}
            class="z-0 h-[677px] absolute top-0 inset-x-0 bg-[center_top] bg-no-repeat"
        >
        </div>

        <div class="relative">
            <div class="section-header">
                <h2 class="text-green-light">Engagements</h2>
                <p>
                    DICE has participated in events from various tech companies
                    and organizations and in and out of the city.
                </p>

                {/* Partner logos */}
                <div
                    class="lg:-mx-48 flex flex-wrap items-center justify-center pt-2"
                >
                    {
                        partners.map((p) => (
                            <div class="p-2 md:p-4">
                                <img src={p.logo} alt={p.name} />
                            </div>
                        ))
                    }
                </div>
            </div>

            <EngagementsCarousel data={engagements} />
        </div>
    </section>

    {/* The Communities */}
    <section class="section">
        <div class="section-header">
            <h2>
                The <span class="text-pink-light-500">Communities</span>
            </h2>
            <p>
                These student organizations encompass a network of tech
                enthusiast groups with whom we have established valuable
                connections through our previous collaborative events, fostering
                a strong and supportive community.
            </p>
        </div>

        <CommunitiesCarousel data={communities} />
    </section>

    {/* Frequently Asked Questions */}
    <section class="section bg-gray-100">
        <div class="content-wrapper">
            <div class="section-header">
                <h2>Frequently Asked Questions</h2>
            </div>

            <div class="max-w-3xl text-left mx-auto">
                <FaqsAccordion questions={questions} />
            </div>
        </div>
    </section>

    {/* Contact Us */}
    <section class="bg-yellow-light-500">
        <div class="flex flex-col-reverse lg:flex-row">
            <div
                class="lg:w-1/2 flex flex-col space-y-4 lg:pl-16 xl:pl-24 2xl:pl-60 p-8 lg:pr-8 lg:py-16"
            >
                <div
                    class="text-center lg:text-left space-y-2 lg:space-y-4 lg:pb-16"
                >
                    <h2 class="text-4xl lg:text-6xl font-black">
                        Contact Us
                    </h2>
                    <p class="lg:text-lg">
                        For any questions or concerns, or to learn more about
                        our organization and initiatives, you may reach out to
                        us through this contact form.
                    </p>
                </div>
                <form
                    method="POST"
                    action="."
                    class="flex flex-col space-y-4"
                >
                    <div class="flex flex-col space-y-2">
                        <label for="email">E-mail</label>
                        <input
                            type="email"
                            name="email"
                            id="email"
                            class="border rounded-sm shadow px-8 py-4"
                            placeholder="example@example.com"
                        />
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="subject">Subject</label>
                        <input
                            type="text"
                            name="subject"
                            id="subject"
                            class="border rounded-sm shadow px-8 py-4"
                            placeholder="Subject Name"
                        />
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="message">Message</label>
                        <textarea
                            name="message"
                            class="border rounded-sm shadow px-8 py-4"
                            id="message"
                            rows={10}></textarea>
                    </div>
                    <button
                        type="submit"
                        class="button px-24 py-4 bg-gray-600 hover:bg-gray-700 text-lg w-full md:w-auto md:self-end"
                        >Send</button
                    >
                </form>
            </div>
            <div
                class="flex h-96 lg:h-auto flex-row w-full lg:flex-col lg:w-1/2 bg-gray-200 bg-center bg-cover"
                style={{ backgroundImage: `url(${contactBg})` }}
            >
                <ContactTriangle
                    className="hidden lg:block text-yellow-light-500 lg:h-full"
                />
                <ContactTriangle
                    orientation="horizontal"
                    className="mt-auto h-16 w-full lg:hidden text-yellow-light-500 lg:h-full"
                />
            </div>
        </div>
    </section>
</Layout>
