---
import { getMeta } from "../data/meta";
import LinkedInIcon from "~icons/dice/linkedin";
import InstagramIcon from "~icons/dice/instagram";
import FacebookIcon from "~icons/dice/facebook";
import DiceLogo2 from "../assets/dice-logo-stroke.svg";

const meta = await getMeta();
---

<footer class="relative bg-black text-white py-12">
    <div style={{
        backgroundImage: `url(${DiceLogo2.src})`,
        backgroundSize: 'contain'
    }}
        class="absolute top-0 inset-x-0 h-full w-full bg-no-repeat bg-[120%_center] lg:bg-[80%_center]"></div>

    <div class="relative content-wrapper flex flex-col items-center text-center space-y-8">
        <div class="flex flex-col items-center space-y-4">
            <p>Stay in touch with us</p>
            <div class="flex space-x-4">
                <a href={meta.socials.linkedin} class="text-white hover:text-white/75"><LinkedInIcon /></a>
                <a href={meta.socials.instagram} class="text-white hover:text-white/75"><InstagramIcon /></a>
                <a href={meta.socials.facebook} class="text-white hover:text-white/75"><FacebookIcon /></a>
            </div>
        </div>
        <p class="text-xl uppercase font-medium pt-2">Innovate. Create. Collaborate.</p>
        <p>&copy; {new Date().getFullYear()} {meta.fullName}</p>
        <div class="flex space-x-4 text-sm">
            <a href="/privacy" class="hover:underline">Privacy Notice</a>
        </div>
    </div>
</footer>
