---
import { getImage } from "astro:assets"
import faviconSrc from "../assets/dice-icon-white.png"
import faviconSvgSrc from "../assets/icons/dice-icon-white.svg"

import Header from "../components/Header2.tsx"
import Footer from "../components/Footer.tsx"
import "../styles/index.css"


const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: 'png'
})

const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' })

interface Props {
  title: string
  autoChangeHeader?: boolean
}

const { title, autoChangeHeader = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="font-sans antialiased text-black">
    <Header
      autoChangeHeader={autoChangeHeader}
      client:load={autoChangeHeader} />
    <main>
      <slot /> <!-- your content is injected here -->
    </main>
    <Footer />
  </body>
</html>
